@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-fg: oklch(0.4279 0.2339 264.76);
  --color-bg:oklch(0.9773 0.0223 87.15);
  --color-accent: oklch(0.2428 0.0094 97.74);
  --color-secondary: oklch(0.5278 0 0);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
